<div class="wrapper">
  <aside id="sidebar" class="js-sidebar">
      <!-- Content For Sidebar -->
      <div class="h-100">
          <div class="sidebar-logo">
              <a>
                <div class="sidebar-brand-icon rotate-n-15"style="text-align:margin-left;">
                <i class="fas fa-laugh-wink" ></i></div>
                <div class="sidebar-brand-text mx-3" style="text-align: center;">
                  Dashboad Candidat
                </div>
               </a>
          </div>
          <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a href="#" routerLink="/employee/dashboard"style="border-bottom: 5px solid #f5f8f9;" class="sidebar-link">
                    <i class="fa-solid fa-list pe-2"></i>
                    Dashboard
                </a>
            </li>
          <li class="sidebar-item">
            <a class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse" aria-expanded="false">
              <i class="fas fa-calendar pe-2"></i> <!-- Utilisation de la classe d'icône de calendrier -->
              Job post
          </a>
            <ul id="pages" class="sidebar-dropdown list-unstyled collapse"  data-bs-parent="#sidebar">
              <li class="sidebar-item" style="border-bottom: 5px solid #f5f8f9;">
                <a href="/candidat/jobposting" routerLink="/candidat/jobposting" class="sidebar-link">
                  <i class="fas fa-plus-circle pe-2"></i> <!-- Utilisation de la classe d'icône de "plus" -->
                Job Posting
                </a>
            </li>
            <li class="sidebar-item" style="border-bottom: 5px solid #f5f8f9;">
              <a href="/candidat/jobapplication" routerLink="/candidat/jobapplication" class="sidebar-link">
                <i class="fas fa-list pe-2"></i> <!-- Utilisation de la classe d'icône de liste -->
                Job Application
            </a>
          </li>
          <li class="sidebar-item" style="border-bottom: 5px solid #f5f8f9;">
            <a href="/employee/updaterequest" routerLink="/employee/updaterequest" class="sidebar-link">
              <i class="fas fa-edit pe-2"></i> <!-- Utilisation de la classe d'icône de liste -->
              Update Request
          </a>
        </li>
           </ul>
          </li>
      </ul>
    </div>
  </aside>
  <div class="main">
    <nav class="navbar navbar-expand px-3 border-bottom">
      <button class="btn" id="sidebar-toggle" type="button">
          <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Search input field -->
      <form class="d-flex mx-3">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-coral" type="submit">Search</button>
      </form>
      <div class="nav-item dropdown no-arrow ml-5" routerLink="/candidat/profile">
        <p class="userName">{{ username }}</p>
        <img class="img-profile rounded-circle small-profile-photo" src="assets/images/myphoto.jpg" alt="User Photo">
        <i class="fas fa-exclamation-circle attention-icon" *ngIf="profileCompletion < 100" style="color: red;"></i>
      </div>

          </nav>

      <div class="container ">
            <router-outlet></router-outlet>
       </div>
  </div>

      <footer class="footer">
          <div class="container-fluid">
              <div class="row text-muted">
                  <div class="col-6 text-start">
                      <p class="mb-0">

                      </p>
                  </div>
                  <div class="col-6 text-end">

                  </div>
              </div>
          </div>
      </footer>
</div>

