h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

b { /* used for event dates/times */
  margin-right: 3px;
}

.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}



.demo-app-main {
  flex-grow: 1;
  padding: 3em;

}
.custom-calendar {
  width: 900px; /* ou toute autre valeur de largeur */
  height: 600px; /* ou toute autre valeur de hauteur */
}

.fc { /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}
.calendar-container {
  display: flex;
  flex-direction: row;
}
.calendar-non-working-days .fc-daygrid-day-top {
  background-color: lightgray; /* Couleur de fond pour les jours non ouvrables */
}

.timeline {
  position: relative;
  width: 200px; /* Fixed width for timeline panel */
}

.employee-list {
  position: sticky;
  top: 0;
  overflow-y: auto;
  height: 100vh; /* Adjust the height as needed */
}

.calendar {
  flex: 1;
  margin-left: 200px; /* Adjust this value to match the width of the timeline panel */
}
