@import "~bootstrap-icons/font/bootstrap-icons.css";

.wrapper {
  display: flex;
  height: 100vh;
}
/**********************sideBar**********************************/
#sidebar {
  width: 264px; /* Adjust as needed */
  background:cornflowerblue;
    transition: all 0.35s ease-in-out;
  overflow-y: auto; /* Allow sidebar to scroll if content exceeds height */
}
.sidebar-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}
.btn-cornflowerblue {
  background-color: cornflowerblue;
  color: white; /* Pour s'assurer que le texte est visible sur le bouton */
}
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  background: white;
  width: 100%; /* Ensure navbar takes full width */
  max-height: 100vh; /* Limit maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.container {
  flex: 1; /* Fill remaining space */
  overflow-y: auto; /* Allow container to scroll if content exceeds height */
  padding: 20px; /* Example padding */
  /* Add any other styles you need to modify the size of the container */
}

/* Sidebar Elements Style */
.sidebar-logo {
  padding: 1.15rem;
  text-decoration: none; /* Remove underline */
  color: inherit;
}
.sidebar-logo a {
  color: #e9ecef;
  font-size: 1.15rem;
  font-weight: 600;
}

.sidebar-nav {
  flex-grow: 1;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 0;
}

a.sidebar-link {
  padding: .625rem 1.625rem;
  color: #e9ecef;
  position: relative;
  display: block;
  font-size: 0.875rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
  content: "\eefc"; /* Unicode character for Bootstrap's "chevron-up" icon */
  font-family: "bootstrap-icons"; /* Specify the font family for the icon */
  position: absolute;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-90deg); /* Rotate the icon to point up */
  transition: transform 0.2s ease-out; /* Add transition for smooth animation */
}

.sidebar-link[data-bs-toggle="collapse"][aria-expanded="true"]::after {
  transform: rotate(0deg); /* Rotate the icon back to its default position */
}



.navbar-expand .navbar-nav {
  margin-left: auto;
}
/* Sidebar Toggle */

#sidebar.collapsed {
  margin-left: -264px;
}
/* Footer and Nav */

@media (max-width:767.98px) {

  .js-sidebar {
      margin-left: -264px;
  }
.navbar,
  footer {
      width: 100vw;
  }
}
/*************searching**************************************/
.search-container {
  display: flex;
  flex-direction: column;
}
.search-results {
  position: absolute; /* Keep the search results container fixed in position */
  top: 60px; /* Adjust as needed to align with the search bar */
  left: 80px;
  z-index: 999; /* Ensure the results are displayed above other content */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

.group-title {
  font-weight: bold;
}

.result-list {
  max-height: 200px; /* Limit the height of the result list */
  overflow-y: auto; /* Add scrollbar if needed */
}

.result-item {
  padding: 8px;
  cursor: pointer;
}

.result-item:hover {
  background-color: #f1f1f1;
}
.no-results {
  position: absolute;
  color: rgb(85, 82, 82);
  font-style: italic;
  top: 60px; /* Adjust as needed to align with the search bar */
  left: 80px;
  width: 210px;;
  z-index: 999; /* Ensure the message is displayed above other content */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}
/*************connexion***************************/
.nav-item.dropdown-right {
  position: absolute;
  right: 120px;
  cursor: pointer;
  top: 18px;
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
}

.img-profile {
  width: 30px; /* Adjust the width of the image */
  height: 30px; /* Adjust the height of the image */
  margin-left: 10px; /* Add margin to separate the image from the username */
}

.userName {
  margin-top: 0px; /* Adjust the top margin of the username */
  font-size: 14px; /* Adjust the font size of the username */
}

/*********************setting*************************************/
.rad-dropdown {
  position: absolute;
  top: 18px; /* Adjust top position as needed */
  right: 0; /* Position to the right */
  cursor: pointer;
}



/***********************Notification*****************************/

.notification-counter {
  position: absolute;
  top: 7px; /* Adjust the vertical position according to your layout */
  right: -5px; /* Adjust the horizontal position according to your layout */
  background-color: #029f5b;
  color: white;
  border-radius: 50%; /* Use 50% to create a circle */
  padding: 2px 6px; /* Adjust padding to adjust the size of the circle */
  font-size: 12px; /* Adjust font size as needed */
}

.notification-icon i {
  font-size: 24px; /* Adjust the size of the icon as needed */
}

.notification-icon {
  position: absolute;
  padding: 5px 9px;
  top: 16px;
  color: cornflowerblue;
  right: 60px; /* Position the icon on the right */
  cursor: pointer; /* Add a cursor to indicate it's clickable */
}


/**************************notification menu*******/
.notification-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 999;
  background-color: #fff; /* Change the background color */
  border: 1px solid #ccc; /* Change the border color */
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Change the box shadow */
}

.notification-list {
  max-height: 300px; /* Change the maximum height */
  overflow-y: auto;
}

.notification-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition effect */
  background-color: rgb(215, 223, 238); /* Couleur de fond par défaut */
}


.notification-item.selected {
  background-color: white; /* Couleur de fond pour les éléments sélectionnés et survolés */
}


.notification-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column; /* Afficher les éléments en colonne */
}

.notification-message {
  margin: 0;
}
.notification-timer {
  color: #999; /* Changer la couleur du texte */
  font-size: 12px; /* Changer la taille de la police */
  font-style: italic; /* Mettre en italique */
  margin-left: 10px; /* Ajuster la marge gauche */
}

.notification-message,
.notification-timer {
  display: block; /* Afficher chaque élément sur une nouvelle ligne */
}

.delete-notification {
  cursor: pointer; /* Curseur indiquant que l'icône est cliquable */
  color: cornflowerblue; /* Couleur de l'icône */
  margin-left: 5px; /* Marge à gauche pour séparer l'icône du message */
}

.delete-notification:hover {
  color: darkred; /* Changement de couleur au survol */
}

.delete-notification:active {
  transform: scale(0.9); /* Réduire légèrement la taille lors du clic */
}


.notification-divider {
  /* margin: 10px 0;
  border: none; */
  border-top: 1px solid #6c6b6b; /* Change the border color */
}

.scrollable {
  max-height: 200px; /* Choisissez la hauteur maximale appropriée */
  overflow-y: auto;
}


/*************************Background***********************************************/
