.card-section {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h3 {
  text-align: center;
  color: #333;
}

.education-form {
  display: flex;
  flex-direction: column;
}

.education-form label {
  margin-top: 10px;
  font-weight: bold;
  color: #555;
}

.education-form input[type="text"],
.education-form input[type="date"],
.education-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
}

.education-form textarea {
  resize: vertical;
  height: 100px;
}

.education-form input[type="text"]:focus,
.education-form input[type="date"]:focus,
.education-form textarea:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.btn {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #029f5b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #029f5b;
}