@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');
.home-cover {
  background-image: url('https://source.unsplash.com/1920x1080/?nature');
  background-size: cover;
  background-position: center;
  height: 100vh; /* Utilisez la hauteur de la fenêtre pour couvrir toute la page */
}
