<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let job of jobs; let i = index">
      <div class="card">


        <div class="card-body">
          <h5 class="card-title">{{ job.title }}</h5>
          <p class="card-text">Company: {{ job.company }}</p>
          <p class="card-text">Location: {{ job.location }}</p>
          <p class="card-text">datePosted: {{ job.datePosted }}</p>
          <div class="status">

            <span [ngClass]="{
              'status-open': job.status === 'open'
            }">
              <i class="fas" [ngClass]="{
                'fa-check-circle': job.status === 'open'
              }"></i>
              {{ job.status }}
            </span>
          </div>
          <div class="button-group">
            <button class="btn btn-primary" (click)="navigateTodetails(job._id)">View Details</button>
            <button class="btn btn-primary" (click)="postuler(job._id)">postuler</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




