<div class="wrapper">
  <aside id="sidebar" class="js-sidebar">
      <!-- Content For Sidebar -->
      <div class="h-100">
          <div class="sidebar-logo">
              <a>
                <div style="display: flex;">
                  <img src="/assets/images/comany'slogo.jpeg" style="height: 50px;width: 50px;" alt="logo" class="mb-30">
                  <h2 style="font-family: 'MV Boli'; color: rgb(248, 248, 248); padding-top: 5px;">
                    <b>HRSierra</b>
                  </h2>
                </div>
               </a>
          </div>
          <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a href="#" routerLink="/admin/dashboard"style="border-bottom: 5px solid #f5f8f9;" class="sidebar-link">
                    <i class="fa-solid fa-list pe-2"></i>
                    Dashboard
                </a>
            </li>
          <li class="sidebar-item">
            <a  class="sidebar-link collapsed" data-bs-target="#pages"
            data-bs-toggle="collapse"
                aria-expanded="false"><i class="fa-solid fa-file-lines pe-2"></i>
                HR_mangement
            </a>
            <ul id="pages" class="sidebar-dropdown list-unstyled collapse"  data-bs-parent="#sidebar">
              <li class="sidebar-item" style="border-bottom: 5px solid #f5f8f9;">
                <a href="#" routerLink="/admin/addrh" class="sidebar-link">
                    <i class="fa-solid fa-user pe-2"></i> <!-- Different icon class -->
                    Add RH
                </a>
            </li>
            <li class="sidebar-item" style="border-bottom: 5px solid #f5f8f9;">
              <a href="#" routerLink="/admin/rhdetails" class="sidebar-link">
                  <i class="fa-solid fa-info-circle pe-2"></i> <!-- Different icon class -->
                  RH Details
              </a>
            </li>
           <li class="sidebar-item" style="border-bottom: 5px solid #f5f8f9;">
            <a href="/admin/rhs" routerLink="/admin/rhs" class="sidebar-link">
                <i class="fa-solid fa-users pe-2"></i> <!-- Different icon class -->
                Show All RH
            </a>
           </li>
           <li class="sidebar-item" style="border-bottom: 5px solid #f5f8f9;">
            <a routerLink = "/admin/update-rh" class="sidebar-link">
                <i class="fa-solid fa-user-edit pe-2"></i> <!-- Assuming an appropriate icon class for user editing -->
                Update RH
            </a>
           </li>
           </ul>
          </li>
          <li class="sidebar-item">
            <a  class="sidebar-link collapsed" data-bs-target="#pages"
            data-bs-toggle="collapse"
                aria-expanded="false"><i class="fa-solid fa-users-cog pe-2"></i>

                 Employee_mangement
            </a>
            <ul id="pages" class="sidebar-dropdown list-unstyled collapse"  data-bs-parent="#sidebar">
              <li class="sidebar-item" style="border-bottom: 5px solid #f5f8f9;">
                <a href="/admin/addemployee" routerLink="/admin/addemployee" class="sidebar-link">
                    <i class="fa-solid fa-user pe-2"></i> <!-- Different icon class -->
                    Add Employee
                </a>
            </li>
            <li class="sidebar-item" style="border-bottom: 5px solid #f5f8f9;">
              <a href="/admin/employeedetails" routerLink="/admin/employeedetails" class="sidebar-link">
                  <i class="fa-solid fa-info-circle pe-2"></i> <!-- Different icon class -->
                  Employee Details
              </a>
            </li>
           <li class="sidebar-item" style="border-bottom: 5px solid #f5f8f9;">
            <a href="/admin/employees" routerLink="/admin/employees" class="sidebar-link">
                <i class="fa-solid fa-users pe-2"></i> <!-- Different icon class -->
                Show All Employee
            </a>
           </li>
           <li class="sidebar-item" style="border-bottom: 5px solid #f5f8f9;">
            <a href="/admin/update-Employee" routerLink = "/admin/update-Employee" class="sidebar-link">
                <i class="fa-solid fa-user-edit pe-2"></i> <!-- Assuming an appropriate icon class for user editing -->
                Update Employee
            </a>
           </li>
           </ul>
          </li>
      </ul>
    </div>
  </aside>
  <div class="main">
    <nav class="navbar navbar-expand px-3 border-bottom">
      <button class="btn" id="sidebar-toggle" type="button">
          <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Search input field -->
      <form class="d-flex mx-3">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary" type="submit">Search</button>
      </form>
    
        <!-- Dropdown - User Information -->
        <div class="nav-item dropdown-right no-arrow ml-5 d-flex align-items-center"(click)="navigateToProfile()">
          <p class="userName mb-0 mr-2">{{ username }}</p>
          <img class="img-profile rounded-circle small-profile-photo" [src]="'http://127.0.0.1:3000/getimage/'+image" alt="User Photo">
        </div>
          </nav>

      <div class="container ">
            <router-outlet></router-outlet>
       </div>
  </div>

      <footer class="footer">
          <div class="container-fluid">
              <div class="row text-muted">
                  <div class="col-6 text-start">
                      <p class="mb-0">

                      </p>
                  </div>
                  <div class="col-6 text-end">

                  </div>
              </div>
          </div>
      </footer>
</div>

