@import "~bootstrap-icons/font/bootstrap-icons.css";

.wrapper {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 264px; /* Adjust as needed */
  background: linear-gradient(135deg, rgb(173, 114, 3) 0%, rgb(255, 206, 86) 100%);
  transition: all 0.35s ease-in-out;
  overflow-y: auto; /* Allow sidebar to scroll if content exceeds height */
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background: linear-gradient(135deg, rgb(152, 99, 2) 0%, rgb(206, 169, 74) 100%);
  }
  50% {
    background: linear-gradient(135deg, rgb(189, 153, 64) 0%, rgb(136, 90, 6) 100%);
  }
  100% {
    background: linear-gradient(135deg, rgb(126, 83, 1) 0%, rgb(255, 206, 86) 100%);
  }
}


.sidebar-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  background: white;
  width: 100%; /* Ensure navbar takes full width */
  max-height: 100vh; /* Limit maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.container {
  flex: 1; /* Fill remaining space */
  overflow-y: auto; /* Allow container to scroll if content exceeds height */
  padding: 20px; /* Example padding */
  /* Add any other styles you need to modify the size of the container */
}

/* Sidebar Elements Style */
.sidebar-logo {
  padding: 1.15rem;
  text-decoration: none; /* Remove underline */
  color: inherit;
}
.sidebar-logo a {
  color: #e9ecef;
  font-size: 1.15rem;
  font-weight: 600;
}

.sidebar-nav {
  flex-grow: 1;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 0;
}

a.sidebar-link {
  padding: .625rem 1.625rem;
  color: #e9ecef;
  position: relative;
  display: block;
  font-size: 0.875rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
  content: "\eefc"; /* Unicode character for Bootstrap's "chevron-up" icon */
  font-family: "bootstrap-icons"; /* Specify the font family for the icon */
  position: absolute;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-90deg); /* Rotate the icon to point up */
  transition: transform 0.2s ease-out; /* Add transition for smooth animation */
}

.sidebar-link[data-bs-toggle="collapse"][aria-expanded="true"]::after {
  transform: rotate(0deg); /* Rotate the icon back to its default position */
}



.navbar-expand .navbar-nav {
  margin-left: auto;
}
/* Sidebar Toggle */

#sidebar.collapsed {
  margin-left: -264px;
}
/* Footer and Nav */

@media (max-width:767.98px) {

  .js-sidebar {
      margin-left: -264px;
  }



  .navbar,
  footer {
      width: 100vw;
  }
}
.btn {
  background:rgb(173, 114, 3) ;
  border-color:rgb(173, 114, 3)  ;
}
/***************************connexion*********************************/
.nav-item.dropdown-right {
  position: absolute;
  right: 60px;
  cursor: pointer;
  display: flex; /* Use flexbox */

}


.img-profile {
  width: 35px; /* Adjust the width of the image */
  height: 35px; /* Adjust the height of the image */

}

.userName {
  margin-right: 10px; /* Adjust as needed for spacing */
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}

/*********************setting*************************************/
.rad-dropdown {
  position: absolute;
  top: 18px; /* Adjust top position as needed */
  right: 0; /* Position to the right */
  cursor: pointer;
}

.rad-dropdown {
  display: inline-block;
}

.rad-menu-item {
  cursor: pointer;
  padding: 10px;
  color: #333;
}

.rad-dropmenu-item {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.rad-dropmenu-item li {
  padding: 12px 16px;
}

.rad-dropmenu-item li a {
  color: black;
  text-decoration: none;
  display: block;
}

.rad-dropmenu-item li a:hover {
  background-color: #f1f1f1;
}

.rad-dropmenu-item.show {
  display: block;
}

