<div class="update-profile">
  <h2>Update :</h2>
  <form action="#" class="update-profile-form">
<!-- info personnelle -->
<div class="card-section">
<div class="profile-info">
  <!-- <div class="profile-picture">
    <label for="profile-photo" class="profile-photo-label">
      <img src="assets/images/myphoto.jpg" alt="Photo de profil" id="profile-photo-preview">
      <span>Change Photo</span>
    </label>
    <input type="file" id="profile-photo" name="profile-photo" accept="image/*" (change)="onPhotoChange($event)">
  </div> -->
  <h3>Personnel Information</h3>
  <div class="profile-details">
    <form class="form"
    name="form"
    (ngSubmit)="f.form.valid"
    #f="ngForm"
    novalidate>
    <div class="form-group">
      <label for="firstName">firstName :</label>
      <input
        type="text"
        class="form-control"
        name="firstName"
        [(ngModel)]="candidat.firstName"
        required
        minlength="3"
        maxlength="20"
        #firstName="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && firstName.errors }"
      />
      <div class="invalid-feedback" *ngIf="firstName.errors && f.submitted">
        <div *ngIf="firstName.errors['required']">firstName is required</div>
        <div *ngIf="firstName.errors['minlength']">
          firstName must be at least 3 characters
        </div>
        <div *ngIf="firstName.errors['maxlength']">
          firstName must be at most 20 characters
        </div>
      </div>
    </div>
      <div class="form-group">
        <label for="lastName">lastName :</label>
        <input
          type="text"
          class="form-control"
          name="lastName"
          [(ngModel)]="candidat.lastName"
          required
          minlength="3"
          maxlength="20"
          #lastName="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && lastName.errors }"
        />
        <div class="invalid-feedback" *ngIf="lastName.errors && f.submitted">
          <div *ngIf="lastName.errors['required']">lastName is required</div>
          <div *ngIf="lastName.errors['minlength']">
            lastName must be at least 3 characters
          </div>
          <div *ngIf="lastName.errors['maxlength']">
            lastName must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username :</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="candidat.userName"
          required
          minlength="3"
          maxlength="20"
          #userName="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && userName.errors }"
        />
        <div class="invalid-feedback" *ngIf="userName.errors && f.submitted">
          <div *ngIf="userName.errors['required']">Username is required</div>
          <div *ngIf="userName.errors['minlength']">
            Username must be at least 3 characters
          </div>
          <div *ngIf="userName.errors['maxlength']">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email :</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="candidat.email"
          required
          email
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
        />
        <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">Email is required</div>
          <div *ngIf="email.errors['email']">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Phone :</label>
        <input
        [(ngModel)]="candidat.phone"
        maxlength="8"
         name="phone"
         type="text"
         class="form-control"
         id="phone"
         #phone="ngModel"
          name="phone"
          required>
          <div class="invalid-feedback" *ngIf="phone.errors && f.submitted">
            <div *ngIf="phone.errors['required']">phone is required</div>
            <div *ngIf="phone.errors['phone']">
              phone must be a valid phone number
            </div>
          </div>
      </div>
      <div class="form-group">
        <label for="">Address :</label>
        <input
        [(ngModel)]="candidat.address"
        name="address"
        #address="ngModel"
         type="text"
         class="form-control"
         required>
         <div class="invalid-feedback" *ngIf="address.errors && f.submitted">
          <div *ngIf="address.errors['required']">Address is required</div>

        </div>
      </div>
      <span class="required">*</span>
      <!-- Add more inputs for other profile details if needed -->
    </form>
  </div>
</div>
</div>
<h2>Complet Your Professional Information :</h2>
<!-- Professional Experience Section -->
    <div class="card-section">
      <div class="profile-section">
        <h3>Professional Experience</h3>
       <div *ngFor="let experience of professionalExperiences; let i = index">
          <div class="experience-form">
            <!-- Fields for updating professional experience -->

            <label for="title">Title:</label>
            <input type="text" id="title" name="title" [(ngModel)]="professionalExp.title">
            <label for="company">Company:</label>
            <input type="text" id="company" name="company" [(ngModel)]="professionalExp.company">
            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date" name="start-date" [(ngModel)]="professionalExp.startDate">
            <label for="end-date">End Date:</label>
            <input type="date" id="end-date" name="end-date" [(ngModel)]="professionalExp.endDate">
            <label for="description">Description:</label>
            <textarea id="description" name="description" [(ngModel)]="professionalExp.description"></textarea>
            <span class="required">*</span>
          </div>
          <hr>
       </div>
        <button class="btn btn-primary" (click)=" addExperience()">Add other Experience</button>
      </div>
    </div>

    <!-- Academic Experience Section -->
    <div class="card-section">
      <div class="profile-section">
        <h3>Academic Experience</h3>
        <div *ngFor="let experience of academicExperiences ; let i = index">
          <div class="education-form">
            <!-- Fields for updating academic experience -->
            <label for="degree">Degree:</label>
            <input type="text" id="degree" name="degree" [(ngModel)]="academicExp.degree">
            <label for="institution">Institution:</label>
            <input type="text" id="institution" name="institution" [(ngModel)]="academicExp.institution">
            <label for="start-date-edu">Start Date:</label>
            <input type="date" id="start-date-edu" name="start-date-edu" [(ngModel)]="academicExp.startDate">
            <label for="end-date-edu">End Date:</label>
            <input type="date" id="end-date-edu" name="end-date-edu" [(ngModel)]="academicExp.endDate">
            <label for="description">Description:</label>
            <textarea id="description" name="description" [(ngModel)]="academicExp.description"></textarea>
            <span class="required">*</span>
          </div>
          <hr>
        </div>
        <button class="btn btn-primary" (click)="addAcademicExperience()">Add other Academic Experience</button>
      </div>
    </div>

    <!-- Skills Section -->
    <div class="card-section">
      <div class="profile-section">
        <h3>Skills</h3>
        <div *ngFor="let skill of skills ; let i = index">
          <div class="skills-form">

            <label for="skill-name">Skill Name:</label>
            <input type="text" id="skill-name" name="skill-name" [(ngModel)]="skill.name">
            <label for="proficiency">Proficiency:</label>
            <select id="proficiency" name="proficiency" [(ngModel)]="skill.proficiency">
              <option value="Beginner">Beginner</option>
              <option value="Intermediate">Intermediate</option>
              <option value="Advanced">Advanced</option>
            </select>
            <span class="required">*</span>
          </div>
          <hr>

        </div>
        <button class="btn btn-primary" (click)="addSkill()">Add other Skill</button>
      </div>
    </div>

    <div class="profile-section">
      <h3>CV File</h3>
      <div class="cv-upload">
        <label for="cv-file">Upload CV:</label>
        <input type="file" #cvInput id="cv-file" name="cv-file">
        <button (click)="updateCandidate(cvInput.files[0])">Update CV</button>
      </div>
    </div>



    <!-- Submit button -->
    <button type="submit"(click)="onSubmit()" class="btn-update-profile">Update Profile</button>
  </form>
</div>
