<div class="container">
  <div class="row ">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{ dataObject.userName }}</h3>
        </div>
        <div class="card-body">
          <p><strong>Name :</strong> {{ dataObject.firstName }} {{ dataObject.lastName }}</p>
          <p><strong>Email :</strong> {{ dataObject.email }}</p>
          <p><strong>Phone :</strong> {{ dataObject.phone }}</p>
          <p><strong>Address :</strong> {{ dataObject.address }}</p>
          <p><strong>Description :</strong>{{dataObject.description}}</p>

        </div>
      </div>
    </div>
  </div>
</div>



