<div class="container-fluid">

  <!-- Page Heading -->

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-2 font-weight-bold">Requests </h6>
      </div>

      <div class="card-body">
        <div class="table-responsive" style="margin-left: 5px;">
          <table class="table circular-border-table" width="100%" id="dataTable" cellspacing="0">
            <thead>
              <tr>
                <th>UserName</th>
                <th>startDate</th>
                <th>endDate</th>
                <th>cause</th>
          <th style="width: auto;"><a routerLink="/employee/addrequest" style="float: left;
          margin-left: 7px; font-size: 14px;width: 120px;"
          class="btn btn-coral ">Add Request</a></th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of pagedData">
                <td>
                  <ng-container *ngIf="item.status === 'Pending'; else icon">
                    <i class="fas fa-clock yellow-icon"></i>
                  </ng-container>
                  <ng-template #icon>
                    <ng-container *ngIf="item.status === 'Approved'">
                      <i class="fas fa-check-circle green-icon"></i>
                    </ng-container>
                    <ng-container *ngIf="item.status === 'Rejected'">
                      <i class="fas fa-times-circle red-icon"></i>
                    </ng-container>
                  </ng-template>
                  {{ username }}
                </td>
                <td>{{ item.startDate }}</td>
                <td>{{ item.endDate }}</td>
                <td>{{ item.cause }}</td>
                <td>
                  <i class="text-success mr-4 fas fa-edit fa-2x" (click)="modify(item)" data-toggle="modal" data-target="#exampleModal" [ngClass]="{ 'disabled-icon': item.status === 'Approved' || item.status === 'Rejected' }"></i>
                  <i class="text-coral fas fa-times fa-2x" (click)="cancel(item)" style="margin-left: 5px;" [ngClass]="{ 'disabled-icon': item.status === 'Approved' || item.status === 'Rejected' }"></i>
                </td>


              </tr>
            </tbody>
          </table>


        <div class="pagination">
          <button class="btn btn-flat " [disabled]="currentPage === 1" (click)="prevPage()">
              <i class="bi bi-arrow-left"></i>
          </button>
          <span>Page {{ currentPage }} of {{ totalPages }}</span>
          <button class="btn btn-flat " [disabled]="currentPage === totalPages" (click)="nextPage()">
              <i class="bi bi-arrow-right"></i>

              <!-- <i class="fas fa-arrow-right"></i>  -->
          </button>
      </div>
        </div>
      </div>
  </div>
</div>

