@import "~bootstrap-icons/font/bootstrap-icons.css";
.bnt-coral {
  background-color: coral;
    color:white/* Pour s'assurer que le texte est visible sur le bouton */
 }
.text-coral {
 color: coral;
   /* Pour s'assurer que le texte est visible sur le bouton */
}

.text-success {
 color: rgb(154, 225, 209);
  /* Pour s'assurer que le texte est visible sur le bouton */
}

.yellow-icon {
  color: yellow;
}
.green-icon {
  color: green;
}
.red-icon {
  color: red;
}



.disabled-icon {
  opacity: 0.5; /* Réduire l'opacité pour simuler un état désactivé */
  pointer-events: none; /* Désactiver les événements de clic */
}
