<div class="wrapper">
  <aside id="sidebar" class="js-sidebar">
      <!-- Content For Sidebar -->
      <div class="h-100">
          <div class="sidebar-logo">
              <a>
                <div class="sidebar-brand-icon rotate-n-15"style="text-align:margin-left;">
                <i class="fas fa-laugh-wink" ></i></div>
                <div class="sidebar-brand-text mx-3" style="text-align: center;">
                  Dashboar Employee
                </div>
               </a>
          </div>
          <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a href="#" routerLink="/employee/dashboard"style="border-bottom: 5px solid #f5f8f9;" class="sidebar-link">
                    <i class="fa-solid fa-list pe-2"></i>
                    Dashboard
                </a>
            </li>
          <li class="sidebar-item">
            <a class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse" aria-expanded="false">
              <i class="fas fa-calendar pe-2"></i> <!-- Utilisation de la classe d'icône de calendrier -->
              Demande de Congé
          </a>
            <ul id="pages" class="sidebar-dropdown list-unstyled collapse"  data-bs-parent="#sidebar">
              <li class="sidebar-item" style="border-bottom: 5px solid #f5f8f9;">
                <a href="/employee/addrequest" routerLink="/employee/addrequest" class="sidebar-link">
                  <i class="fas fa-plus-circle pe-2"></i> <!-- Utilisation de la classe d'icône de "plus" -->
                  Add Request
                </a>
            </li>
            <li class="sidebar-item" style="border-bottom: 5px solid #f5f8f9;">
              <a href="/employee/requests" routerLink="/employee/requests" class="sidebar-link">
                <i class="fas fa-list pe-2"></i> <!-- Utilisation de la classe d'icône de liste -->
                All Request
            </a>
          </li>
          <li class="sidebar-item" style="border-bottom: 5px solid #f5f8f9;">
            <a href="/employee/updaterequest" routerLink="/employee/updaterequest" class="sidebar-link">
              <i class="fas fa-edit pe-2"></i> <!-- Utilisation de la classe d'icône de liste -->
              Update Request
          </a>
        </li>
           </ul>
          </li>
      </ul>
    </div>
  </aside>
  <div class="main">
    <nav class="navbar navbar-expand px-3 border-bottom">
      <button class="btn" id="sidebar-toggle" type="button">
          <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Search input field -->
      <form class="d-flex mx-3">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-coral" type="submit">Search</button>
      </form>
      <li class="nav-item dropdown no-arrow">
        <!-- <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
            <img class="img-profile rounded-circle"
                src="assets/admin/img/undraw_profile.svg">
        </a> -->
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
            aria-labelledby="userDropdown">
            <button class="dropdown-item">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
            </button>
        </div>
    </li>




          </nav>

      <div class="container ">
            <router-outlet></router-outlet>
       </div>
  </div>

      <footer class="footer">
          <div class="container-fluid">
              <div class="row text-muted">
                  <div class="col-6 text-start">
                      <p class="mb-0">

                      </p>
                  </div>
                  <div class="col-6 text-end">

                  </div>
              </div>
          </div>
      </footer>
</div>

