@import "~bootstrap-icons/font/bootstrap-icons.css";
.profile-container {
  width: 80%;
  margin: auto;
  background: #fff;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.profile-header {
  display: flex;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.status-indicator.active {
  background-color: green;
}

.status-indicator.inactive {
  background-color: yellow;
}

.profile-header-text {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.profile-header h2 {
  margin: 0;
}

.profile-username {
  font-size: 1.1em;
  color: #666;
  margin: 5px 0 0;
}

.profile-info {
  display: flex;
  margin-top: 20px;
}

.profile-picture {
  flex: 1;
  text-align: center;
}

.profile-picture img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile-contact-details {
  margin-top: 10px;
  text-align: left;
}

.profile-contact-details p {
  margin: 5px 0;
}

.profile-details {
  flex: 2;
  padding: 0 20px;
  text-align: left;
}

.profile-details p {
  margin: 10px 0;
}

.profile-actions {
  text-align: center;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  background-color: #d53aa7;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #d53aa7;
}
