@import "~bootstrap-icons/font/bootstrap-icons.css";
.btn-success{
  background-color: rgb(20, 114, 81);
}
.btn-danger{
  background-color: rgb(67, 7, 7);
}
.btn-info{
  background-color: rgb(74, 96, 151);
}
