@import "~bootstrap-icons/font/bootstrap-icons.css";

.btn-coral {
  background-color: cornflowerblue;
  color: white; /* Pour s'assurer que le texte est visible sur le bouton */
}
.debut{
  color: cornflowerblue;
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif ;
}
